# Deep Learning
torch>=2.3.0
torchvision>=0.18.0

# Tokenizer
tokenizers>=0.20.0
transformers>=4.45.0


# Data Processing
numpy>=2.0.0
pandas>=2.2.2

# Progress Bar
tqdm>=4.66.5


# Configuration
pydantic>=2.9.0
pydantic-settings>=2.5.2


# API
fastapi>=0.115.0
uvicorn>=0.30.6


# Frontend
streamlit>=1.38.0


# Testing
pytest>=8.3.3


# Utilities
python-dotenv>=1.0.1


# Logging
rich>=13.8.0